[Unit]
Description=Clang, the best bot in the world
After=network.target

[Service]
User=python-clang
Group=python-clang
Type=simple
Environment="DATA_DIR=/var/lib/python-clang"
ExecStart=/usr/share/python-clang/.venv/bin/python /usr/share/python-clang/clang.py
WorkingDirectory=/usr/share/python-clang
Restart=always

[Install]
WantedBy=multi-user.target